<% include ../partials/header.html %>

<style>
    .force-hidden {
        display: none;
    }

    .content {
        display: none;
    }

    .preload {
        width: 100px;
        height: 100px;
        position: fixed;
        top: 50%;
        left: 50%;
    }


    /* CSS FOR FIXED HEAD TABLE */
    .tableFixHead {
        overflow-y: auto;
        height: 200px;
    }

    .tableFixHead thead th {
        position: sticky;
        top: 0;
        background: #323a46;
        color: #f7f7f7;
    }

    /* CSS FOR FIXED HEAD TABLE */
</style>

<div id="wrapper">

    <% include ../partials/topbar.html %>

    <% include ../partials/left_sidebar.html %>

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
        <hr style="margin-top: 0rem;margin-bottom: 1rem;">
        <!-- Start Content-->
        <div class="container-fluid">

            <div class="row">
                <div class ="col-sm-2">
                  <h4>Your User Pools</h4>
                </div>
                <div class="col-sm-2 offset-sm-8 ">
                <button type="button" class="btn btn-secondary waves-effect btn-sm"><a href='/v1/admin/createUserPool'>Create User Pool </a></button>
            </div>
                <% include ../partials/footer.html %>

            </div>
            <hr style="margin-top: 0rem;margin-bottom: 1rem;">


     
           
        <div  class=" row" id="listUser"></div>
               
               
            
            

        </div>
    </div>

    <!-- END wrapper -->
</div>
<% include ../partials/right_sidebar.html %>

<% include ../partials/foot.html %>



<!-- custom js -->
<script src="../../custom/js/admin/user_pool_listing.js"></script>

<script>
    $(function () {

        $(".preload").fadeOut(2000, function () {
            $(".content").fadeIn(1000);
        });

    })
</script>

</body>

</html>