<% include ../partials/header.html %>

<!-- Custom CSS -->
<link href="../../custom/css/asset_management/advance_transcoding.css" rel="stylesheet">

<!-- Required For jQuery SORTABLE plugin -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet"
    type="text/css" />

<style>
    .force-hidden {
        display: none;
    }

    .content {
        display: none;
    }

    .preload {
        width: 100px;
        height: 100px;
        position: fixed;
        top: 50%;
        left: 50%;
    }


    /* CSS for tooltip */
    .save-copy-info {
        font-size: 1rem;
        cursor: pointer;
        margin: 0 5px 0 5px;
    }


    /* CSS FOR FIXED HEAD TABLE */
    .tableFixHead {
        overflow-y: auto;
        height: 200px;
    }

    .tableFixHead thead th {
        position: sticky;
        top: 0;
        background: #323a46;
        color: #f7f7f7;
    }

    /* CSS FOR FIXED HEAD TABLE */
</style>

<div id="wrapper">

    <% include ../partials/topbar.html %>

    <% include ../partials/left_sidebar.html %>

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
        <hr style="margin-top: 0rem;margin-bottom: 1rem;">
        <!-- Start Content-->
        <div class="container-fluid">

            <div class="row">

                <div class="col-md-12" id="listS3-preview-div">
                    <table id="processing_s3_assets_table" class="table dt-responsive nowrap table-sm w-100">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Asset</th>
                                <th>Modified On</th>
                                <th>Preview</th>
                                <th>Size</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <tbody id="processing_s3_assets_tbody">

                        </tbody>
                    </table>
                </div>

                <div class="col-md-5 force-hidden" id="edit-asset-div">

                    <div class="row">
                        <div class="col-md-1">
                            <i class="mdi mdi-close-circle" id="close-edit-metadata-panel-btn"></i>
                        </div>
                        <div class="col-md-11">
                            <h4 id="edit-asset-title" style="margin: 6px 0;"></h4>
                        </div>
                    </div>

                    <ul class="nav nav-tabs nav-justified mt-2">
                        <li class="nav-item">
                            <a href="#upload-audio" data-toggle="tab" aria-expanded="true" class="nav-link active">
                                <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                                <span class="d-none d-sm-block"><i
                                        class="mdi mdi-square-edit-outline mr-1"></i>Audio</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#technical-data" id="meta_data" data-toggle="tab" aria-expanded="false"
                                class="nav-link meta_deta">
                                <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                                <span class="d-none d-sm-block"><i class="mdi mdi-settings-outline mr-1"></i>Meta
                                    Data</span>
                            </a>
                        </li>
                    </ul>
                    <div class="preload">
                        <img src="http://i.imgur.com/KUJoe.gif">
                    </div>
                    <div class="content">

                        <div class="tab-content">


                            <div role="tabpanel" class="tab-pane fade active show" id="upload-audio">

                                <form id="add-audio-files-form" method="post" class="form-horizontal ">

                                    <div class="row">
                                        <div class="col-md-4">

                                            <button id="add-audio-btn"
                                                class="btn btn-xs btn-dark waves-effect mb-1 btn-block addaudio"> <i
                                                    class="mdi mdi-music-note-plus mr-1" name="name"></i>
                                                <span>Add Audio</span>
                                                <!-- <p id="demo"></p> -->
                                            </button>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="inputState"
                                                class="col-form-label edit-metadata-form-label">Language</label>

                                        </div>
                                        <div class="col-md-8">
                                            <label for="inputState"
                                                class="col-form-label edit-metadata-form-label">Audio File</label>
                                        </div>

                                    </div>

                                    <div class="add-audio-form-div" id="sortable">
                                        <div class="form-group row">
                                            <div class="col-md-4">

                                                <select class="form-control language dropMenu language-code-dropMenu"
                                                    id="language" name="language">
                                                    <option value="" selected="selected">Select</option>

                                                    <option value="ENG">English</option>
                                                    <option value="HIN">Hindi</option>
                                                    <option value="MAR">Marathi</option>
                                                    <option value="TEL">Telugu</option>
                                                    <option value="KAN">Kannada</option>
                                                    <option value="BEN">Bengali</option>
                                                    <option value="TAM">Tamil</option>

                                                </select>

                                            </div>
                                            <div class="col-md-6">
                                                <input type="file" class="dropify form-control" data-height="30"
                                                    id="files" name="files" accept="audio/*" />
                                            </div>
                                            <div class="col-md-2 px-1">
                                                <i class="ti-arrows-vertical audio-sort-handle" title="sort"></i>
                                                <i class="mdi mdi-delete audio-delete" title="delete"></i>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <button type="submit"
                                            class="btn btn-sm btn-block btn-purple waves-effect waves-light mt-3 upload-audio-files-btn">Upload</button>
                                    </div>

                                    <div class="progress-div" style="margin-top: 1%; display: none;">

                                        <div class="progress">
                                            <div class="progress-bar progress-bar-video" role="progressbar"
                                                aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                                                style="width:0%">
                                                <span id="percent_complete">0%</span>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="technical-data">

                                <div class="">No media information available</div>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>

                <div class="col-md-5 force-hidden" id="transcode-asset-div">
                    <div class="row">
                        <div class="col-md-1">
                            <i class="mdi mdi-close-circle" id="close-transcode-asset-panel-btn"></i>
                        </div>
                        <div class="col-md-11">
                            <h4 id="transcode-asset-title" style="margin: 6px 0;"></h4>
                        </div>
                    </div>

                    <ul class="nav nav-tabs nav-justified mt-2">
                        <li class="nav-item">
                            <a href="#transcode-asset" data-toggle="tab" aria-expanded="true" class="nav-link active">
                                <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                                <span class="d-none d-sm-block"><i
                                        class="mdi mdi-square-edit-outline mr-1"></i>Transcode</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#media-info" id="media_info" data-toggle="tab" aria-expanded="false"
                                class="nav-link media_info">
                                <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                                <span class="d-none d-sm-block"><i class="mdi mdi-settings-outline mr-1"></i>Media
                                    Info</span>
                            </a>
                        </li>
                    </ul>

                    <div class="content">

                        <div class="tab-content">

                            <div role="tabpanel" class="tab-pane fade active show" id="transcode-asset">

                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="inputState"
                                            class="col-form-label edit-metadata-form-label">Language</label>

                                    </div>
                                    <div class="col-md-8">
                                        <label for="inputState" class="col-form-label edit-metadata-form-label">Audio
                                            File</label>
                                    </div>

                                </div>

                                <div class="available-audio-tracks-div" id="sortable_available_audio_tracks">

                                </div>

                                <div class="form-group row">
                                    <div class="col-md-4">
                                        <div class="checkbox checkbox-blue">
                                            <input id="save_copy_check" type="checkbox" data-parsley-multiple="group1"
                                                data-parsley-maxcheck="1">
                                            <label for="save_copy_check"> Save a copy</label>

                                            <i class="mdi mdi-alert-circle save-copy-info" data-toggle="tooltip"
                                                data-placement="bottom" title=""
                                                data-original-title="Save edits as a new asset"></i>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <input id="save_a_copy_asset_name" placeholder="Asset name" type="text"
                                            class="form-control" value="">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <button type="submit"
                                        class="btn btn-sm btn-block btn-purple waves-effect waves-light mt-3 transcode-asset-btn">Transcode</button>
                                </div>

                            </div>


                            <div role="tabpanel" class="tab-pane fade" id="media-info">

                                <div class="">No media information available</div>
                            </div>
                        </div>
                    </div>
                </div>

                <% include ../partials/footer.html %>

            </div> <!-- container-fluid -->

        </div>
    </div>

    <!-- Preview video modal content -->
    <div id="previewVideo" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="asset-title"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">
                        <i class=" mdi mdi-play-speed"></i>Preview
                    </h4>

                    <button type="button" class="close close-modal-btn" data-dismiss="modal" aria-hidden="true"
                        onclick="previewAssetPlayer.reset()">×</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12" id="divPlayVideo">
                            <video id="preview-asset-player"
                                class="w-100 video-js vjs-default-skin vjs-big-play-centered" controls preload="auto"
                                height="350">
                                <source src="../../videos/sample.mp4" type="">
                            </video>
                            <h5 class="modal-title preview-modal-asset-title" id="preview-modal-asset-title"></h5>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-xs btn-secondary waves-effect" data-dismiss="modal"
                        onclick="previewAssetPlayer.reset()">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <!-- ########### CODE FOR INDEXER ######### -->
    <!-- Preview Merged video modal content -->
    <div id="play_merged_asset_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="asset-title"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">
                        <i class=" mdi mdi-play-speed"></i> Transcoded
                    </h4>

                    <button type="button" class="close close-modal-btn" data-dismiss="modal" aria-hidden="true"
                        onclick="mergedAssetPlayer.reset()">×</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12" id="divPlayVideo">
                            <video id="merged-asset-player"
                                class="w-100 video-js vjs-default-skin vjs-big-play-centered" controls preload="auto"
                                height="350">
                                <source src="../../videos/sample.mp4" type="">
                            </video>
                            <h5 class="modal-title preview-modal-asset-title" id="preview-modal-asset-title"></h5>
                        </div>
                    </div>
                    <!-- <div class="video-indexer-container w-100 tableFixHead" id="tableFixHead">
                        <table class="table mb-0 table-sm">
                            <thead>
                                <tr>
                                    <th>In</th>
                                    <th>Out</th>
                                    <th>Notes</th>
                                </tr>
                            </thead>
                            <tbody id="tbody-video-indexer">


                            </tbody>
                        </table>
                    </div> -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-xs btn-secondary waves-effect" data-dismiss="modal"
                        onclick="mergedAssetPlayer.reset()">Close</button>
                </div>
                <!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->


        <!-- ########### CODE FOR INDEXER ######### -->
    </div>


    <!--############ play audio modal #############-->

    <div id="audioPlay" class="modal fade bs-example-modal-center" tabindex="-1" role="dialog"
        aria-labelledby="myCenterModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myCenterModalLabel">Audio Track</h4>
                    <button type="button" class="close close-modal-btn" data-dismiss="modal" aria-hidden="true"
                        onclick="stopAudioPlayer()">×</button>
                </div>
                <div class="modal-body text-center">
                    <audio id="audio-player" controls type="audio/wav">
                        <source id="audioSource" src="">
                        </source>
                    </audio>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-xs btn-secondary waves-effect" data-dismiss="modal"
                        onclick="stopAudioPlayer()">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <!--getlink preview asset-->

    <div id="getlink" class="modal fade bs-example-modal-center" tabindex="-1" role="dialog"
        aria-labelledby="myCenterModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myCenterModalLabel">Copy link to Clipboard</h4>
                    <button type="button" class="close close-modal-btn" data-dismiss="modal" aria-hidden="true"
                        onclick="">×</button>
                </div>
                <div class="modal-body text-center">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="form-group">
                                <input id="getlinkurl" name="url" placeholder=" " class="form-control" type="text">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-icon btn-block waves-effect btn-secondary" onclick="copy()">
                                <i class="mdi mdi-content-copy"></i>
                            </button>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-xs btn-secondary waves-effect" data-dismiss="modal"
                            onclick=" ">Close</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->


        <!-- ########### CODE FOR INDEXER ######### -->

    </div>
    <!-- END wrapper -->
</div>
<% include ../partials/right_sidebar.html %>

<% include ../partials/foot.html %>

<!-- Required For jQuery SORTABLE plugin -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

<!-- custom js -->
<script src="../../custom/js/asset_management/advance_transcoding.js"></script>


<script>
    $(function () {

        $(".preload").fadeOut(2000, function () {
            $(".content").fadeIn(1000);
        });

    })
</script>

</body>

</html>