<% include ../partials/header.html %>

<!-- Custom CSS -->
<link href="../../custom/css/asset_management/asset_overview.css" rel="stylesheet">

<div id="wrapper">

    <% include ../partials/topbar.html %>

    <% include ../partials/left_sidebar.html %>

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
        <hr style="margin-top: 0rem;margin-bottom: 1rem;">
        <!-- Start Content-->
        <div class="container-fluid">

            <div class="row">

                <div class="col-md-8 asset-listing-container">
                    <table id="list_all_video_table" class="table dt-responsive nowrap table-sm w-100">
                        <thead>
                            <tr>
                                <th>Asset</th>
                                <th>Modified On</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <tbody id="list_all_video_tbody">

                        </tbody>
                    </table>
                </div>
                <div class="col-md-4 asset-overview-container">

                    <div class="" style="margin: 0 auto !important;width: 90%;">
                        <video id="asset-player" class="video-js vjs-big-play-centered w-100" controls preload="auto"
                            height="150">
                            <source src="../../videos/sample.mp4" type="">
                        </video>
                    </div>

                    <ul class="nav nav-tabs nav-justified mt-2">
                        <li class="nav-item">
                            <a href="#edit-asset" data-toggle="tab" aria-expanded="false" class="nav-link active">
                                <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                                <span class="d-none d-sm-block"><i
                                        class="mdi mdi-square-edit-outline mr-1"></i>Edit</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#transcode-asset" data-toggle="tab" aria-expanded="true" class="nav-link">
                                <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                                <span class="d-none d-sm-block"><i
                                        class="mdi mdi-settings-outline mr-1"></i>Transcode</span>
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade active show" id="edit-asset">

                            <form id="asset-metadata-form" class="form-horizontal">
                                <div class="form-group">
                                    <label for="title" class="col-form-label">Title</label>
                                    <input type="text" class="form-control form-control-sm" id="title" placeholder="">
                                </div>

                                <div class="form-group">
                                    <label class="col-form-label" for="asset-description">Description</label>
                                    <textarea class="form-control" rows="3" id="description"></textarea>
                                </div>

                                <div class="tags-default form-group">
                                    <label class="col-form-label" for="asset-Keywords">Keywords</label>
                                    <input id="keywords" type="text" value="" data-role="tagsinput" placeholder="" />
                                </div>

                                <div class="form-group">
                                    <label for="language" class="col-form-label">Language</label>
                                    <input type="text" class="form-control form-control-sm" id="language"
                                        placeholder="">
                                </div>

                                <div class="tags-default form-group">
                                    <label class="col-form-label" for="asset-Cast">Cast</label>
                                    <input type="text" id="cast" value="" data-role="tagsinput" placeholder="" />
                                </div>

                                <!-- <div class="form-group">
                                    <label class="col-form-label" for="asset-Parental-Lock">Parental Lock</label></br>
                                    <input type="checkbox" checked data-plugin="switchery" data-color="#00b19d"
                                        data-size="small" />
                                </div> -->

                                <div class="form-group">
                                    <label class="col-form-label" for="asset-Parental-Lock">Thumbnail</label>
                                    <input type="file" class="dropify form-control" data-height="60"
                                        parsley-trigger="change" id="files1" name="files1" accept=".jpeg" required />
                                </div>


                                <div class="row mt-3">
                                    <div class="col-sm-6">
                                        <div class="radio form-check-inline">
                                            <input type="radio" id="is_featured" value="featured" name="radioInline"
                                                checked>
                                            <label for="is_featured"> Featured </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="radio form-check-inline">
                                            <input type="radio" id="is_popular" value="popular" name="radioInline">
                                            <label for="is_popular"> Popular </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="advanced" class=" col-form-label text-primary"
                                        id="advanced">Advanced</label>
                                </div>
                                <div class="advanced-metadata-field"></div>
                                <div id="advanced-metadata">
                                    <div class="row mt-3">
                                        <div class="col-sm-5">
                                            <label for="type" class="col-form-label" id="type">Type</label>
                                            <SELECT name="element" id="dynamicType"
                                                class="form-control form-control-sm">
                                                <OPTION value="text">Textbox</OPTION>
                                                <OPTION value="checkbox">checkbox</OPTION>
                                                <OPTION value="textarea">Textarea</OPTION>
                                                <OPTION value="radio">Radio</OPTION>
                                            </SELECT>
                                        </div>
                                        <div class="col-sm-7">
                                            <label for="title" class="col-form-label">Label</label>
                                            <input name="label" type="text" class="form-control form-control-sm"
                                                id="dynamicLabel" placeholder="">
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-sm-12">
                                            <button
                                                class="btn btn-lighten-info waves-effect waves-info add-input-groups-btn btn-block">Add
                                                Field</button>
                                            <span id="element1"></span>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <button id="edit-asset-btn" type="button"
                                class="btn btn-sm btn-block btn-purple waves-effect waves-light edit-asset mt-3">Save</button>

                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="transcode-asset">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label for="inputState" class="col-form-label">Profile</label>
                                    <select id="transcode-profiles"
                                        class="select2 select2-multiple form-control form-control-sm"
                                        multiple="multiple" multiple data-placeholder="Choose ...">

                                        <optgroup label="Default">
                                            <option value="basic">Basic</option>
                                            <option value="standard">Standard</option>
                                            <option value="premium">Premium</option>
                                        </optgroup>
                                        <optgroup label="Custom">

                                        </optgroup>

                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="inputState" class="col-form-label">Quality</label>
                                    <select id=""
                                        class="select2 select2-multiple select2-hidden-accessible form-control form-control-sm"
                                        multiple="" data-placeholder="Choose ..." data-select2-id="" tabindex=""
                                        aria-hidden="true">

                                        <option>1080p</option>
                                        <option>720p</option>
                                        <option>480p</option>
                                        <option>360p</option>
                                        <option>240p</option>
                                        <option>144p</option>

                                    </select>
                                </div>

                            </form>

                            <button id="transcode-asset-btn" type="button"
                                class="btn btn-sm btn-block btn-purple waves-effect waves-light mt-3 transcode-asset">Transcode</button>

                        </div>
                    </div>

                </div>

            </div>

        </div> <!-- container-fluid -->

        <% include ../partials/footer.html %>

    </div>

    <!-- Preview video modal content -->
    <div id="previewVideo" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="asset-title"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">
                        <i class=" mdi mdi-play-speed"></i> Preview
                    </h4>

                    <button type="button" class="close close-modal-btn" data-dismiss="modal" aria-hidden="true"
                        onclick="assetPreviewPlayer.reset()">×</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12" id="divPlayVideo">
                            <video id="preview-asset-player"
                                class="w-100 video-js vjs-default-skin vjs-big-play-centered" controls preload="auto"
                                height="350">
                                <source src="../../videos/sample.mp4" type="">
                            </video>
                            <h5 class="modal-title preview-modal-asset-title" id="preview-modal-asset-title"></h5>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-xs btn-secondary waves-effect" data-dismiss="modal"
                        onclick="assetPreviewPlayer.reset()">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!--getlink preview asset overView -->

    <div id="getlink" class="modal fade bs-example-modal-center" tabindex="-1" role="dialog"
        aria-labelledby="myCenterModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myCenterModalLabel">Copy link to Clipboard</h4>
                    <button type="button" class="close close-modal-btn" data-dismiss="modal" aria-hidden="true"
                        onclick="">×</button>
                </div>
                <div class="modal-body text-center">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="form-group">
                                <input id="getlinkurl" name="url" placeholder=" " class="form-control" type="text">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-icon btn-block waves-effect btn-secondary" onclick="copy()">
                                <i class="mdi mdi-content-copy"></i>
                            </button>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-xs btn-secondary waves-effect" data-dismiss="modal"
                            onclick=" ">Close</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->


        <!-- ########### CODE FOR INDEXER ######### -->

    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->


</div>
<!-- END wrapper -->

<% include ../partials/right_sidebar.html %>

<% include ../partials/foot.html %>


<!-- custom js -->
<script src="../../custom/js/asset_management/asset_overview.js"></script>


</body>
<!-- dynamically input field -->
<script>
    function addDynamicInputGroup(type, label, id) {
        if (type == 'text') {
            $(".advanced-metadata-field").append(`<div class="form-group"><label for="title" class="col-form-label">${label}</label><input class='form-control form-control-sm mt-1' type='${type}' value='' id='${id}'></div>`)
        }
        if (type == 'checkbox') {

            $(".advanced-metadata-field").append(`<div class="form-check mt-2"><input class='form-check-input' type='${type}' value='' id='${id}'><label class="form-check-label" for="exampleCheck1">${label}</label></div>`)
        }
        if (type == 'radio') {
            $(".advanced-metadata-field").append(`<div class="row mt-2"><div class="col-sm-12"><div class="radio form-check-inline"><input type='${type}' value='' id='${id}'>
             <label for="is_radio">${label}</label></div></div></div>`)
        }
        if (type == 'textarea') {
            $(".advanced-metadata-field").append(`<div class="form-group"><label for="exampleFormControlTextarea1">${label}</label><textarea class='form-control' type='${type}' value='' id='${id}'></textarea></div>`)

        }
    }

    var dynamicInputGroupsIDs_arr = []

    $(document).on("click", ".add-input-groups-btn", function () {

        var type = $("#dynamicType").val();
        var label = $("#dynamicLabel").val();

        formatID(label);

        function formatID(label) {
            var id = label.toLowerCase();
            id = id.replace(/\s+/g, '');
            for (var i = 0; i < id[0].length; i++) {
                dynamicInputGroupsIDs_arr.push({ id, type });
            }


            addDynamicInputGroup(type, label, id)
        }
    })

    $("#advanced").click(function () {
        $("#advanced-metadata").toggle(400);
    });
    $("#advanced-metadata").hide()
</script>


</html>