<% include ../partials/header.html %>

<!-- Custom CSS -->
<link href="../../custom/css/asset_management/file_overview.css" rel="stylesheet">

<div id="wrapper">

    <% include ../partials/topbar.html %>

    <% include ../partials/left_sidebar.html %>

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
        <hr style="margin-top: 0rem;margin-bottom: 1rem;">
        <!-- Start Content-->
        <div class="container-fluid">

            <div class="row">

                <div class="col-md-12">
                    <table id="list_s3_assets_table" class="table dt-responsive nowrap table-sm w-100">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Asset</th>
                                <th>Modified On</th>
                                <th>Size</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <tbody id="list_s3_assets_tbody">

                        </tbody>
                    </table>
                </div>
            </div>
        </div> <!-- container-fluid -->

        <% include ../partials/footer.html %>

    </div>
</div>
<!-- END wrapper -->

<% include ../partials/right_sidebar.html %>

<% include ../partials/foot.html %>

<!-- custom js -->
<script src="../../custom/js/asset_management/file_overview.js"></script>


</body>

</html>