<% include ../partials/header.html %>

<div id="wrapper">

    <% include ../partials/topbar.html %>

    <% include ../partials/left_sidebar.html %>

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
        <div class="content">

            <!-- Start Content-->
            <div class="container-fluid">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-box">

                            <form action='' id='upload-asset-form' data-parsley-validate novalidate>
                                <div class="form-group row">
                                    <label class="col-sm-2  col-form-label" for="simpleinput">Asset Name</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="file_name" class="form-control" parsley-trigger="change"
                                            required placeholder="Asset Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="file" class="dropify form-control" data-height="100"
                                        parsley-trigger="change" id="files1" name="files1" accept="video/*" required />
                                </div>
                                <div class="form-group">

                                    <button id="upload_asset" class="btn btn-info waves-effect waves-light btn-sm"
                                        type="submit"> <i class="fas fa-cloud-upload-alt"></i> <span>Upload</span>
                                    </button>

                                </div>

                                <div class="progress-div" style="margin-top: 1%; display: none;">

                                    <div class="progress">
                                        <div class="progress-bar progress-bar-video" role="progressbar"
                                            aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                                            <span id="percent_complete">0%</span>
                                        </div>
                                    </div>
                                </div>

                            </form>


                        </div>
                    </div>
                </div>

            </div> <!-- container-fluid -->

        </div> <!-- content -->

        <% include ../partials/footer.html %>

    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->


</div>
<!-- END wrapper -->

<% include ../partials/right_sidebar.html %>

<% include ../partials/foot.html %>

<!-- custom js -->
<script src="../../custom/js/asset_management/upload_content.js"></script>

</body>

</html>