<% include ../partials/header.html %>


<!-- Custom CSS -->
<link href="../../custom/css/profile/profile.css" rel="stylesheet">

<div id="wrapper">

    <% include ../partials/topbar.html %>

    <% include ../partials/left_sidebar.html %>


    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
        <div class="content">

            <!-- Start Content-->
            <div class="container-fluid">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-box">
                            <div class="card-body">

                                <form action='' id='create-profile-form' data-parsley-validate novalidate>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-form-label" for="simpleinput">Profile Name</label>

                                                <input type="text" id="profile_name" class="form-control"
                                                    parsley-trigger="change" required placeholder="Profile Name">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-form-label text-right" for="simpleinput">Rate
                                                    Control</label>

                                                <select class="form-control select2" id="rate_control"
                                                    parsley-trigger="change" required>
                                                    <option data-transcode_profile_type="default" value="cbr">CBR
                                                    </option>
                                                    <option data-transcode_profile_type="default" value="vbr">VBR
                                                    </option>
                                                    <option data-transcode_profile_type="default" value="qvbr">QVBR
                                                    </option>
                                                </select>
                                            </div>
                                        </div>

                                    </div>

                                    <button class="btn btn-xs btn-purple mb-2" id="addRowBtn" type="button">Add
                                        row</button>


                                    <table id="cbr-tbl" class="table table-dark mb-0">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Height</th>
                                                <th>Width</th>
                                                <th>Bitrate</th>
                                                <th>Frame</th>
                                                <th>GOP</th>
                                                <th>Audio Bitrate</th>
                                            </tr>
                                        </thead>
                                        <tbody id="cbr-createProfilesTableBody">
                                            <tr class="item">
                                                <td></td>
                                                <td>
                                                    <!-- <input type="number" required id="height" name="DynamicTextBox" class="form-control form-control-sm height"
                                                        value=""> -->
                                                    <select class="form-control form-control-sm height"
                                                        name="DynamicTextBox">
                                                        <option val="140">140</option>
                                                        <option val="180">180</option>
                                                        <option val="234">234</option>
                                                        <option val="240">240</option>
                                                        <option val="360">360</option>
                                                        <option val="404">404</option>
                                                        <option val="480">480</option>
                                                        <option val="720">720</option>
                                                        <option val="1080">1080</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <!-- <input type="number" required id="width" name="DynamicTextBox"
                                                        class="form-control form-control-sm width" value=""> -->

                                                    <select class="form-control form-control-sm width"
                                                        name="DynamicTextBox">
                                                        <option val="250">250</option>
                                                        <option val="320">320</option>
                                                        <option val="352">352</option>
                                                        <option val="416">416</option>
                                                        <option val="640">640</option>
                                                        <option val="720">720</option>
                                                        <option val="1280">1280</option>
                                                        <option val="1920">1920</option>
                                                    </select>

                                                </td>
                                                <td>
                                                    <!-- <input type="number" required id="bitrate" name="DynamicTextBox"
                                                        class="form-control form-control-sm bitrate" value=""> -->

                                                    <select class="form-control form-control-sm bitrate"
                                                        name="DynamicTextBox">
                                                        <option val="432000">432000</option>
                                                        <option val="1160000">1160000</option>
                                                        <option val="1440000">1440000</option>
                                                        <option val="3288000">3288000</option>
                                                        <option val="6400000">6400000</option>
                                                        <option val="6864000">6864000</option>
                                                        <option val="10400000">10400000</option>
                                                        <option val="14392000">14392000</option>
                                                        <option val="16000000">16000000</option>
                                                        <option val="21448000">21448000</option>
                                                        <option val="30688000">30688000</option>
                                                    </select>


                                                </td>
                                                <td>
                                                    <!-- <input type="number" required id="frame" name="DynamicTextBox"
                                                        class="form-control form-control-sm frame" value=""> -->

                                                    <select class="form-control form-control-sm frame"
                                                        name="DynamicTextBox">
                                                        <option val="25">25</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <!-- <input type="number" required id="gop" name="DynamicTextBox"
                                                        class="form-control form-control-sm gop" value=""> -->

                                                    <select class="form-control form-control-sm gop"
                                                        name="DynamicTextBox">
                                                        <option val="90">90</option>
                                                    </select>

                                                </td>
                                                <td>
                                                    <!-- <input type="number" required id="audio-bitrate"
                                                        name="DynamicTextBox"
                                                        class="form-control form-control-sm audio-bitrate" value=""> -->

                                                    <select class="form-control form-control-sm audio-bitrate"
                                                        name="DynamicTextBox">
                                                        <option val="128000">128000</option>
                                                    </select>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>


                                    <table id="vbr-tbl" class="table table-dark mb-0 force-hidden">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Height</th>
                                                <th>Width</th>
                                                <th>Bitrate</th>
                                                <th>Frame</th>
                                                <th>GOP</th>
                                                <th>Audio Bitrate</th>
                                                <th class="max_bitrate">Max Bitrate</th>

                                            </tr>
                                        </thead>
                                        <tbody id="vbr-createProfilesTableBody">
                                            <tr class="item">
                                                <td></td>
                                                <td>
                                                    <!-- <input type="number" required id="height" name="DynamicTextBox" class="form-control form-control-sm height"
                                                        value=""> -->
                                                    <select class="form-control form-control-sm height"
                                                        name="DynamicTextBox">
                                                        <option val="140">140</option>
                                                        <option val="180">180</option>
                                                        <option val="234">234</option>
                                                        <option val="240">240</option>
                                                        <option val="360">360</option>
                                                        <option val="404">404</option>
                                                        <option val="480">480</option>
                                                        <option val="720">720</option>
                                                        <option val="1080">1080</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <!-- <input type="number" required id="width" name="DynamicTextBox"
                                                        class="form-control form-control-sm width" value=""> -->

                                                    <select class="form-control form-control-sm width"
                                                        name="DynamicTextBox">
                                                        <option val="250">250</option>
                                                        <option val="320">320</option>
                                                        <option val="352">352</option>
                                                        <option val="416">416</option>
                                                        <option val="640">640</option>
                                                        <option val="720">720</option>
                                                        <option val="1280">1280</option>
                                                        <option val="1920">1920</option>
                                                    </select>

                                                </td>
                                                <td>
                                                    <!-- <input type="number" required id="bitrate" name="DynamicTextBox"
                                                        class="form-control form-control-sm bitrate" value=""> -->

                                                    <select class="form-control form-control-sm bitrate"
                                                        name="DynamicTextBox">
                                                        <option val="432000">432000</option>
                                                        <option val="1160000">1160000</option>
                                                        <option val="1440000">1440000</option>
                                                        <option val="3288000">3288000</option>
                                                        <option val="6400000">6400000</option>
                                                        <option val="6864000">6864000</option>
                                                        <option val="10400000">10400000</option>
                                                        <option val="14392000">14392000</option>
                                                        <option val="16000000">16000000</option>
                                                        <option val="21448000">21448000</option>
                                                        <option val="30688000">30688000</option>
                                                    </select>


                                                </td>
                                                <td>
                                                    <!-- <input type="number" required id="frame" name="DynamicTextBox"
                                                        class="form-control form-control-sm frame" value=""> -->

                                                    <select class="form-control form-control-sm frame"
                                                        name="DynamicTextBox">
                                                        <option val="25">25</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <!-- <input type="number" required id="gop" name="DynamicTextBox"
                                                        class="form-control form-control-sm gop" value=""> -->

                                                    <select class="form-control form-control-sm gop"
                                                        name="DynamicTextBox">
                                                        <option val="90">90</option>
                                                    </select>

                                                </td>
                                                <td>
                                                    <!-- <input type="number" required id="audio-bitrate"
                                                        name="DynamicTextBox"
                                                        class="form-control form-control-sm audio-bitrate" value=""> -->

                                                    <select class="form-control form-control-sm audio-bitrate"
                                                        name="DynamicTextBox">
                                                        <option val="128000">128000</option>
                                                    </select>

                                                </td>
                                                <td class="max-bitrate">
                                                    <!-- <input type="number" required id="max-bitrate" name="DynamicTextBox"
                                                        class="form-control form-control-sm max-bitrate" value=""> -->

                                                    <select class="form-control form-control-sm max-bitrate"
                                                        name="DynamicTextBox">

                                                        <option val="1160000">1160000</option>
                                                        <option val="3288000">3288000</option>
                                                        <option val="6864000">6864000</option>
                                                        <option val="14392000">14392000</option>
                                                        <option val="21448000">21448000</option>
                                                        <option val="30688000">30688000</option>
                                                    </select>

                                                </td>



                                            </tr>

                                        </tbody>
                                    </table>


                                    <table id="qvbr-tbl" class="table table-dark mb-0 force-hidden">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Height</th>
                                                <th>Width</th>
                                                <th>Bitrate</th>
                                                <th>Frame</th>
                                                <th>GOP</th>
                                                <th>Audio Bitrate</th>
                                                <th class="max_bitrate">Max Bitrate</th>
                                                <th class="qvbr_level">QVBR Level</th>
                                            </tr>
                                        </thead>
                                        <tbody id="qvbr-createProfilesTableBody">
                                            <tr class="item">
                                                <td></td>
                                                <td>
                                                    <!-- <input type="number" required id="height" name="DynamicTextBox" class="form-control form-control-sm height"
                                                        value=""> -->
                                                    <select class="form-control form-control-sm height"
                                                        name="DynamicTextBox">
                                                        <option val="140">140</option>
                                                        <option val="180">180</option>
                                                        <option val="234">234</option>
                                                        <option val="240">240</option>
                                                        <option val="360">360</option>
                                                        <option val="404">404</option>
                                                        <option val="480">480</option>
                                                        <option val="720">720</option>
                                                        <option val="1080">1080</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <!-- <input type="number" required id="width" name="DynamicTextBox"
                                                        class="form-control form-control-sm width" value=""> -->

                                                    <select class="form-control form-control-sm width"
                                                        name="DynamicTextBox">
                                                        <option val="250">250</option>
                                                        <option val="320">320</option>
                                                        <option val="352">352</option>
                                                        <option val="416">416</option>
                                                        <option val="640">640</option>
                                                        <option val="720">720</option>
                                                        <option val="1280">1280</option>
                                                        <option val="1920">1920</option>
                                                    </select>

                                                </td>

                                                <td>
                                                    <!-- <input type="number" required id="bitrate" name="DynamicTextBox"
                                                        class="form-control form-control-sm bitrate" value=""> -->

                                                    <select class="form-control form-control-sm bitrate"
                                                        name="DynamicTextBox">
                                                        <option val="432000">432000</option>
                                                        <option val="1160000">1160000</option>
                                                        <option val="1440000">1440000</option>
                                                        <option val="3288000">3288000</option>
                                                        <option val="6400000">6400000</option>
                                                        <option val="6864000">6864000</option>
                                                        <option val="10400000">10400000</option>
                                                        <option val="14392000">14392000</option>
                                                        <option val="16000000">16000000</option>
                                                        <option val="21448000">21448000</option>
                                                        <option val="30688000">30688000</option>
                                                    </select>


                                                </td>


                                                <td>
                                                    <!-- <input type="number" required id="frame" name="DynamicTextBox"
                                                        class="form-control form-control-sm frame" value=""> -->

                                                    <select class="form-control form-control-sm frame"
                                                        name="DynamicTextBox">
                                                        <option val="25">25</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <!-- <input type="number" required id="gop" name="DynamicTextBox"
                                                        class="form-control form-control-sm gop" value=""> -->

                                                    <select class="form-control form-control-sm gop"
                                                        name="DynamicTextBox">
                                                        <option val="90">90</option>
                                                    </select>

                                                </td>
                                                <td>
                                                    <!-- <input type="number" required id="audio-bitrate"
                                                        name="DynamicTextBox"
                                                        class="form-control form-control-sm audio-bitrate" value=""> -->

                                                    <select class="form-control form-control-sm audio-bitrate"
                                                        name="DynamicTextBox">
                                                        <option val="128000">128000</option>
                                                    </select>

                                                </td>
                                                <td class="max-bitrate">
                                                    <!-- <input type="number" required id="max-bitrate" name="DynamicTextBox"
                                                        class="form-control form-control-sm max-bitrate" value=""> -->

                                                    <select class="form-control form-control-sm max-bitrate"
                                                        name="DynamicTextBox">

                                                        <option val="1160000">1160000</option>
                                                        <option val="3288000">3288000</option>
                                                        <option val="6864000">6864000</option>
                                                        <option val="14392000">14392000</option>
                                                        <option val="21448000">21448000</option>
                                                        <option val="30688000">30688000</option>
                                                    </select>

                                                </td>
                                                <td class="qvbr-level">
                                                    <!-- <input type="number" required
                                                        id="qvbr-level" name="DynamicTextBox"
                                                        class="form-control form-control-sm qvbr-level" value=""> -->

                                                    <select class="form-control form-control-sm qvbr-level"
                                                        name="DynamicTextBox">

                                                        <option val="7">7</option>
                                                    </select>

                                                </td>


                                            </tr>

                                        </tbody>
                                    </table>

                                    <button type="submit" id="btn-createprofile"
                                        class="btn btn-xs btn-purple waves-effect width-md waves-light mt-3">Create
                                        Profile</button>

                                </form>

                            </div> <!-- end card-body -->
                        </div> <!-- end card -->
                    </div> <!-- end col -->
                </div> <!-- end row -->

                <!-- ============================================================== -->
                <!-- End Page content -->
                <!-- ============================================================== -->

            </div>

        </div>
    </div>


</div>
<!-- END wrapper -->

<% include ../partials/right_sidebar.html %>

<% include ../partials/foot.html %>


<!-- custom js -->
<script src="../../custom/js/profile/profile.js"></script>


</body>

</html>