<% include ../partials/header.html %>

<!-- Custom CSS -->
<link href="../../custom/css/profile/profile_overview.css" rel="stylesheet">

<div id="wrapper">

    <% include ../partials/topbar.html %>

    <% include ../partials/left_sidebar.html %>

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
        <hr style="margin-top: 0rem;margin-bottom: 1rem;">
        <!-- Start Content-->
        <div class="container-fluid">

            <div class="row">

                <div class="col-md-12 profile-listing-container">
                    <table id="list_all_profile_table" class="table dt-responsive nowrap table-sm">
                        <thead>
                            <tr class="profile-row">
                                <th>Profile Name</th>
                                <th>Created At</th>
                                <th>Created By</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <tbody id="list_all_profile_tbody">

                        </tbody>
                    </table>
                </div>
            </div>

            <% include ../partials/footer.html %>

        </div>

        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->

    </div>


    <!-- END wrapper -->

    <% include ../partials/right_sidebar.html %>

    <% include ../partials/foot.html %>

    <!-- custom js -->
    <script src="../../custom/js/profile/profile_overview.js"></script>

    </body>

    </html>