table .thead-multicolour th {
    color: #dee2e6;
    background-color: #71b6f9;
    border-color: #71b6f9; 
}

.profile-overview-tbl-row:hover{
    cursor: pointer;
    outline-offset: -1px;
    color: #ffffff;
    background-color: #323a46
}

.profile-overview-tbl-row.active{
    cursor: pointer;
    outline-offset: -1px;
    color: #ffffff;
    background-color: #323a46
}