.table-row {
    color: #CFCFD4
}

.table td {
    border-top : none !important
}

table,
th,
td {
    border: 1px solid rgba(173,181,189,.2);
}


.removeRowBtn {
    cursor: pointer;
    font-size: 1.2rem;
    color: #ff5b5b;
}

.force-hidden{
    display: none;
}