<% include ../partials/header.html %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js"
    integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/"
    crossorigin="anonymous"></script>

<script src="https://unpkg.com/jspdf-autotable@3.3.1/dist/jspdf.plugin.autotable.js"></script>

<link href="../../custom/css/user/settings.css" rel="stylesheet">

<style>
    .force-hidden {
        display: none;
    }

    .content {
        display: none;
    }

    .preload {
        width: 100px;
        height: 100px;
        position: fixed;
        top: 50%;
        left: 50%;
    }

    @media print {
        body * {
            visibility: hidden;
        }

        #invoice-div,
        #invoice-div * {
            visibility: visible;
        }

        #invoice-div {
            position: absolute;
            left: 0;
            top: 0;
        }
    }
</style>




<div id="wrapper">

    <% include ../partials/topbar.html %>

    <% include ../partials/left_sidebar.html %>

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
        <hr style="margin-top: 0rem;margin-bottom: 1rem;">
        <!-- Start Content-->
        <div class="container-fluid">

            <div class="row" id="billing-controls-div">


                <div class="col-sm-12">
                    <div class="p-2">
                        <form class="form-horizontal">
                            <div class="row">

                                <div class="form-group col-lg-5">
                                    <select class="form-control" id="invoiceDate" name="invoiceDate">
                                    </select>

                                </div>
                                <div class="form-group col-lg-2">
                                    <button type="button"
                                        class="btn btn-purple btn-rounded w-md waves-effect waves-light mb-3 tenantInvoice"><i
                                            class="mdi mdi-plus"></i> Create Report</button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>


            </div>

            <!-- Invoice table -->
            <div class="row" id="invoice-div">
                <div class="col-md-12">
                    <div class="card-box " id="invoice-divTable">
                        <div class="row">
                            <div class="col-md-12">

                                <div class="float-left">
                                    <address>
                                        <strong class="text-primary">Skandha Media Services Pvt Ltd</strong><br>
                                        A105, Everest Grande,Mahakali Cave Road<br>
                                        Near Ahura Centre,Andheri East<br>
                                        Mumbai 400093<br>
                                        Phone:+91 2266870600
                                    </address>
                                </div>
                                <div class="float-right">
                                    <p><strong>Date: </strong>
                                        <script>document.write(moment().format('ll'))</script>
                                    </p>
                                    <p class="tenant-name"></p>
                                </div>
                            </div><!-- end col -->
                        </div>
                        <!-- end row -->

                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table id="list_table" class="table mb-0 table-sm w-100">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Storage</th>
                                                <th>Storage Size</th>
                                                <th>Cost</th>
                                            </tr>
                                        </thead>
                                        <tbody id="list_tbody">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table id="list_transcode_table" class="table mb-0 table-sm w-100">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Transcode Profiles</th>
                                                <th>Duration</th>
                                                <th>Cost</th>

                                            </tr>
                                        </thead>
                                        <tbody id="list_transcode_tbody">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="clearfix mt-2">
                                    <h5 class="small text-dark">PAYMENT TERMS AND POLICIES</h5>

                                    <small>
                                        All accounts are to be paid within 7 days from receipt of
                                        invoice. To be paid by cheque or credit card or direct payment
                                        online. If account is not paid within 7 days the credits details
                                        supplied as confirmation of work undertaken will be charged the
                                        agreed quoted fee noted above.
                                    </small>
                                </div>
                            </div>
                            <div class="col-md-3 force-hidden" id="paidAmount">
                                <h4 class="text-right">Payment already Paid</h4>
                            </div>
                            <div class="col-md-6" id="totalPaid">
                                <h4 class="text-right"><span id="total"></span></h4>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="float-right" id="payId">
                        <a href="/v1/paytm" id="payment" class="btn btn-purple waves-effect waves-light btn-send">payment</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!-- END wrapper -->
</div>
<% include ../partials/right_sidebar.html %>

<% include ../partials/foot.html %>

<!-- Right bar overlay-->
<div class="rightbar-overlay"></div>

<!-- App js -->
<script src="../../assets/js/app.min.js"></script>

<!-- custom js -->
<script src="../../custom/js/invoice/invoice.js"></script>

<!-- custom js -->
<script src="../../custom/js/paytm/paytm.js"></script>
 

<script>
    $(function () {

        $(".preload").fadeOut(2000, function () {
            $(".content").fadeIn(1000);
        });

    })
</script>

<script>
    function getInvoiceDateRange() {
        var date = new Date();
        date.setMonth(date.getMonth() - 1);
        var monthNames = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        var options = '';
        for (var i = 0; i < 18; i++) {
            var m = date.getMonth();
            options += `<option value="${monthNames[m]}-${date.getFullYear()}">${monthNames[m]} - ${date.getFullYear()}</option>`
            date.setMonth(date.getMonth() - 1);
        }
        $('#invoiceDate').html(options);
    }
    getInvoiceDateRange();
</script>

</body>

</html>