.mdi-close-circle{
    font-size: 1.4rem;
    margin: .2rem;
    cursor: pointer;
}

.edit-metadata-form-label{
    padding: 0;
    font-weight: 400;
}

#edit-asset-div {
    height: 85vh;
    overflow: auto;
}

.dropify-wrapper{
    height: 38px !important
}

.dropify-message .file-icon{
    display: none;
}

.dropify-wrapper .dropify-message p {
    margin: 0;
    color: #71b6f9!important;
}

.dropify-wrapper .dropify-clear {
    top: 0;
}


.processing-list-asset-tbl-row:hover{
    cursor: pointer;
    outline-offset: -1px;
    color: #ffffff;
    background-color: #323a46;
    transition: 0.3s;
}

.processing-list-asset-tbl-row.active{
    cursor: pointer;
    outline-offset: -1px;
    color: #ffffff;
    background-color: #323a46
}

td.asset-name {
    overflow: hidden !important;
    max-width: 120px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.mdi-cloud-download, .mdi-video, .mdi-folder {
    font-size: 1.1rem;
    margin: .3rem;
}

.list-group-item {
    padding: .5rem 1.25rem;
}

/* remove blue border on focus  */
audio:focus {outline:0;}

.audio-sort-handle {
    font-size: 1.2rem;
    margin: 0.2rem;
    cursor: pointer;
}

.audio-delete {
    font-size: 1.5rem;
    margin: 0.2rem;
    cursor: pointer;
}
