.tab-content {
    padding: 10px;
    border: 1px solid #3b4452;
}

.asset-listing-container {
    padding-left: 6px;
}

.asset-overview-container {
    padding-right: 6px;
    padding-left: 6px;
    height: 85vh;
    overflow: auto;
}

.asset-overview-tbl-row:hover{
    cursor: pointer;
    outline-offset: -1px;
    color: #ffffff;
    background-color: #323a46
}

.asset-overview-tbl-row.active{
    cursor: pointer;
    outline-offset: -1px;
    color: #ffffff;
    background-color: #323a46
}

.transcoded-profile:hover{
    cursor: pointer;
}


td.asset-title{
    overflow: hidden !important;
    max-width: 120px;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.thumb-img{
height: 75px;
border-radius: 10px;
padding: .2rem;
cursor: pointer;
}

.thumb-img.active{
border: 2px solid #fff
}

.mdi-cloud-download, .mdi-video, .mdi-folder{
    font-size: 1.1rem;
    margin: .3rem
}

.list-group-item {
    padding: .5rem 1.25rem;
}