<html>

<head>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <title>Merchant Check Out Page</title>
    <style>
        body {
            background-color: #ECEFF1;
            font-family: Helvetica;
        }

        .receipt {
            width: 400px;
            background-color: transparent;
            margin: 80px auto 80px auto;
        }

        .table-receipt {
            border-radius: 10px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            width: 100%;
            border-collapse: collapse;
            box-shadow: -20px 30px 50px 0px #8d8d8d;
            background-color: white;
        }

        .th-header {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            width: 100%;
            background-color: #3a903e;
            color: white;
            padding: 24px;
            font-size: 24px;
        }

        .td-title {
            font-size: 16px;
            font-weight: 700;
            color: #78909c;
            padding: 12px 8px 12px 8px;
            border-bottom: 1px solid #CFD8DC;
        }

        .td-content {
            font-size: 18px;
            text-align: right;
            padding: 12px 8px 12px 8px;
            border-bottom: 1px solid #CFD8DC;
        }

        .td-bottom {
            width: 100%;
            font-weight: 600;
            color: #3a903e;
            text-align: center;
            padding: 24px;
            font-size: 20px;
        }
        .receipt-btn{
               margin-top: -60px;
               margin-left: 86px;
        }

    </style>
</head>

<body>
    <div class="receipt">
        <!--    <% if (resultData == 'true') { %>
    <center><h1>validation succesfull</h1></center>
    <% }else
    { %>
    <center><h1>validation unsuccesfull</h1></center>
    <% } %>-->
        <table class="table-receipt">
            <thead>
                <tr>
                    <th class="th-header" colspan="2">PAYMENT RECEIPT
                    </th>
                </tr>
            </thead>
            <tbody>
                <% for (name in responseData) {
        %>
                <% if(name !== "CHECKSUMHASH"){ %>
                <tr>
                    <td class="td-title"><%= name %></td>
                    <td class="td-content"><%= responseData[name] %></td>
                </tr>
                <% } %>
                <% } %>
                <tr>
                    <td class="td-bottom" colspan="2">Thank you!.
                    </td>
                </tr>
            </tbody>
        </table>
      
    </div>


    <div class="text-center">
        <button type="button" id='receipt-btn' class="btn btn-success width-md receipt-btn">
            Go To Dashboard</button>
    </div>


</body>

<script>
    $(document).ready(function () {
        $(document).on("click", ".receipt-btn", function () {

             window.location.href = `/v1/dashboard`;
        });

//         function getCardData(){
//         var bankName = $("div").find('.td-content').text();
      
// alert(JSON.stringify(bankName))

//     }
//     getCardData()
    })

</script>

</html>
